/* VARIABLE */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --orange: #FDC15F;
    --dark-grey: #333333;
    --white: #FFFFFF;
    --black: #000000;

}

/* RESET CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure img {
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* LAYOUT */

.container {
    max-width: 1144px;
    margin: 0 auto;
}

.container-s {
    max-width: 1064px;
    margin: 0 auto;
}

.container-xs {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.row.no-wrap {
    flex-wrap: nowrap;
}

.col {
    flex-basis: 100%;
    padding: 0 12px;
}

.col-inside {
    flex-basis: 100%;
}

/* UTILITY CLASS */

.between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.text-left {
    text-align: left;
}


.no-gap {
    gap: 0;
}

/* COMPONENT CLASS */

.button {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    padding: 0 48px;
    border-radius: 900px;
    background-color: var(--purple);
    color: var(--white);
    letter-spacing: 3px;
    white-space: nowrap;
}

.button.white {
    font-size: 18px;
    font-weight: 400;
    padding: 0 16px;
    background-color: var(--white);
    color: var(--black);
    letter-spacing: 0;
}

.button.blue {
    font-size: 18px;
    background-color: var(--blue);
    line-height: 48px;
    margin-top: 40px;
}

.button.small {
    line-height: 35px;
    padding: 0 16px;
    letter-spacing: 0;
}

.button.small i,
.button.blue i {
    padding: 0 8px 0 0;
}

/* HEADER */

.page-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 16px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.menu {
    display: flex;
    align-items: center;
    line-height: 40px;
}

.menu-list {
    display: none;

}

.menu-link {
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
}

.hamburger-menu {
    line-height: 40px;
    font-size: 24px;
}

/* SECTION HERO */

section.hero {
    padding: 50px 20px 80px;
}

.hero-card {
    background-color: var(--light-blue);
    border-radius: 20px;
    text-align: center;
    height: 100%;
}

.hero-card i {
    display: inline-block;
    font-size: 80px;
    color: var(--blue);
    padding: 32px 20px 0;
}

.hero-card-content {
    padding: 32px 24px;
}

.card-title {
    font-size: 24px;
    font-weight: 800;
    color: var(--blue);
    margin-bottom: 32px;
}

.card-text {
    line-height: 1.9;
    font-size: 16px;

}

.button.blue i {
    color: var(--white);
    font-size: 16px;
}

.hero-card .row.no-gap {
    height: 100%;
}

.hero .col-inside.right {
    align-items: flex-end;
}

.col-inside figure img {
    max-width: 250px;
    margin: 0 auto;
}

/* SECTION PLANNING */

.planning {
    padding: 60px 20px;
    background-color: var(--purple);
    color: var(--white);
}

.planning-image {
    justify-content: center;
    margin-bottom: 85px;
}

.planning-image img,
.planning-card-image img {
    margin: 0 auto;
}

.planning-title {
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 50px;
}

.planning-text {
    font-size: 16px;
    line-height: 1.7;
}

.planning-card {
    text-align: center;
    background-color: var(--white);
    border-radius: 50px;
    padding: 30px 25px;
}

.planning-card-image {

    margin-bottom: 25px;
}

.planning-card-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--black)
}

.planning-card-text {
    font-style: italic;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 30px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--purple);
    color: var(--black);
    border-radius: 50%;
    margin: 0 auto;
}

/* SECTION TESTIMONIALS */

.testimonials {
    padding: 60px 20px 110px;
}

.testimonials-text {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 12px;
}

.testimonials-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px;
}

.testimonials-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--purple);
    margin-bottom: 30px;
}

.testimonials-description {

    font-size: 20px;
    line-height: 1.7;
}

/* TESTIMONIALS CARD */

.testimonials-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 50px;
    padding: 32px 16px;
}

.testimonials-card-image {
    flex-shrink: 0;
    flex-basis: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials-card-image img {
    height: 200px;
    object-fit: cover;
}

.testimonials-card-body {
    text-align: center;
}

.quote {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 24px;
}


.author {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

}

/* SECTION FEATURES */

.features {
    padding: 65px 20px;
    background-color: var(--purple);
}

.features-title {
    text-align: center;
    color: var(--white);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 65px;
}

.features-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 32px;
    background-color: var(--white);
    border-radius: 25px;
}

.features-card-number {
    font-size: 48px;
    font-weight: 700;
    color: var(--purple);
}

.features-card-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--purple);
}

.features-card-text {
    line-height: 1.7;
}

/* SECTION ABOUT */

.about {
    padding: 80px 20px;
}

.about .row {
    gap: 60px;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.about-description-title {
    font-size: 48px;
    color: var(--purple);
}

.about-description-text {
    font-size: 20px;
    line-height: 2;
}

.about-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-quote-image {
    flex-shrink: 0;
    position: relative;
    width: 180px;
    aspect-ratio: 1;
}

.about-quote-image figure {
    border-radius: 50%;
    overflow: hidden;
}

.about-quote-image img {
    height: 100%;
    object-fit: cover;
}

.about-quote-image i {
    position: absolute;
    display: block;
    top: -10px;
    right: -5px;
    color: var(--purple);
    font-size: 70px;
}

.about-quote-text {
    font-weight: 700;
    font-size: 30px;
    color: var(--purple);
}



/* MEDIA QUERY */

@media screen and (min-width: 576px) {

    /* SECTION HERO */

    .hero .row.no-gap {
        flex-wrap: nowrap;
    }

    .hero .col {
        flex-basis: 50%;
    }

    .hero .col:first-child {
        flex-basis: 100%;
    }

    .hero .col-inside.left {
        flex-basis: 50%;
    }

    .hero .col-inside.right {
        flex-basis: 50%;
        align-self: flex-end;
    }


}

@media screen and (min-width: 768px) {

    /* SECTION HERO */

    .hero .row.no-gap {
        flex-wrap: wrap;
    }

    .hero .col {
        flex-basis: calc(100% * 4 / 12);
    }

    .hero .col:first-child {
        flex-basis: calc(100% * 8 / 12);
    }

    .card-text {
        font-size: 18px;
    }

    .hero .col-inside.left {
        flex-basis: 100%;
    }



    /* SECTION PLANNING */

    .planning {
        padding-top: 125px;
    }

    .planning-image {
        margin-bottom: 130px;
    }

    .planning-title {
        font-size: 72px;
    }

    /* SECTION TESTIMONIALS */

    .testimonials-title {
        font-size: 45px;
    }

    .testimonials-card {
        flex-direction: row;
        gap: 30px;
    }

    .testimonials-card-image {
        margin-bottom: 16px;
    }

    .testimonials-card-body {
        text-align: left;
    }

    /* SECTION FEATURES */

    .features .col {
        flex-basis: 50%;
    }

    .features-title {
        font-size: 44px;
    }

    .features-card-number {
        font-size: 72px;
    }

    /* SECTION ABOUT */

    .about {
        padding-bottom: 140px;
    }

    .about .row {
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    .col-right {
        flex-basis: 230px;
    }

    .about-quote-image {
        width: 230px;
    }

    .about-description-title {
        font-size: 72px;
    }

}

@media screen and (min-width: 992px) {

    /* HEADER */

    .menu-list {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .hamburger-menu {
        display: none;
    }

    /* SECTION HERO */

    .hero .col-inside.left {
        flex-basis: 50%;
    }

    .hero .col-inside.right {
        flex-basis: 50%;
    }



    /* SECTION PLANNING */

    .planning .row {
        align-items: flex-end;
        column-gap: 50px;
        flex-wrap: nowrap;
    }

    .planning .col {
        flex-basis: 50%;
    }

    .planning-card-image img {
        max-width: 70%;
    }

    .planning-title {
        font-size: 34px;
    }

    /* SECTION FEATURES */

    .features .col {
        flex-basis: calc(100% / 3);
    }

    .features-title {
        font-size: 48px;
    }

}

@media screen and (min-width: 1200px) {

    /* SECTION TESTIMONIALS */

    .testimonials-card {
        gap: 64px;
    }

}