/* VARIABLE */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --orange: #FDC15F;
    --dark-grey: #333333;
    --white: #FFFFFF;
    --black: #000000;

}

/* RESET CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure img {
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */

.container {
    max-width: 1144px;
    margin: 0 auto;
}

.container-s {
    max-width: 1064px;
    margin: 0 auto;
}

.container-xs {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.row.no-wrap {
    flex-wrap: nowrap;
}

.col {
    flex-basis: 100%;
    padding: 0 12px;
}

.col-inside {
    flex-basis: 100%;
}

/* UTILITY CLASS */

.between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.text-left {
    text-align: left;
}


.no-gap {
    gap: 0;
}

/* COMPONENT CLASS */

.button {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    padding: 0 48px;
    border-radius: 900px;
    font-weight: 600;
    background-color: var(--purple);
    color: var(--white);
    letter-spacing: 3px;
    white-space: nowrap;
}

.button.white {
    padding: 0 16px;
    background-color: var(--white);
    color: var(--black);
    letter-spacing: 0;
}

.button.blue {
    background-color: var(--blue);
    line-height: 48px;
    margin-top: 40px;
}

.button.small {
    font-size: 14px;
}

/* HEADER */

.page-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 16px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.menu {
    display: flex;
    align-items: center;
    line-height: 40px;
}

.menu-list {
    display: none;

}

.menu-link {
    display: inline-block;
    line-height: 40px;
}

.hamburger-menu {
    line-height: 40px;
    font-size: 24px;
}

/* SECTION HERO */

section.hero {
    padding: 50px 20px 80px;
}

.hero-card {
    background-color: var(--light-blue);
    border-radius: 20px;
    text-align: center;
    height: 100%;
}

.hero-card i {
    display: inline-block;
    font-size: 80px;
    color: var(--blue);
    padding: 32px 20px 0;
}

.hero-card-content {
    padding: 32px 24px;
}

.card-title {
    font-size: 20px;
    font-weight: 800;
    color: var(--blue);
    margin-bottom: 32px;
}

.card-text {
    line-height: 1.9;
    font-size: 14px;
    font-weight: 500;
}

.button.blue i {
    color: var(--white);
    font-size: 16px;
    padding: 0 8px 0 0;
}

.hero-card .row.no-gap {
    height: 100%;
}

.col-inside figure {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

}

.col-inside figure img {
    max-width: 80%;
}

/* MEDIA QUERY */

@media screen and (min-width: 576px) {

    /* SECTION HERO */

    .hero .col {
        flex-basis: 50%;
    }

    .hero .col:first-child {
        flex-basis: 100%;
    }

    .hero .col-inside.left {
        flex-basis: 60%;
    }

    .hero .col-inside.right {
        flex-basis: 40%;
    }

    .col-inside figure img {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {

    /* SECTION HERO */

    .hero .col {
        flex-basis: calc(100% * 4 / 12);
    }

    .hero .col:first-child {
        flex-basis: calc(100% * 8 / 12);
    }

    .card-text {
        font-size: 16px;
    }

    .hero .col-inside.left {
        flex-basis: 100%;
    }

    .hero .col-inside.right {
        flex-basis: 60%;
    }


}

@media screen and (min-width: 992px) {

    /* HEADER */

    .menu-list {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .hamburger-menu {
        display: none;
    }

    /* SECTION HERO */

    .hero .col-inside.left {
        flex-basis: 50%;
    }

    .hero .col-inside.right {
        flex-basis: 50%;
    }

    .col-inside figure img {
        max-width: 85%;

    }



}

@media screen and (min-width: 1200px) {

    /* SECTION HERO */

    .col-inside figure {
        justify-content: flex-start;
    }

    .col-inside figure img {
        max-width: 85%;
        padding-left: 50px;
    }

}